<h1>"Create a Team and Heroes!"</h1></br>

<form action="/teams" method="post">
  <h2>Superhero Team</h2>
  <label for="team_name">Team Name: </label>
  <input type="text" name="team[name]"></br>
  <label for="team_motto">Team Motto: </label>
  <input type="text" name="team[motto]"></br>
  
  <h2>Hero 1</h2>
  <label for="member01_nam">Hero Name:</label>
  <Input id="member01_name" type="text" name="team[members][][name]"><br>
  <label for="member01_power">Hero Power:</label>
  <Input id="member01_power" type="text" name="team[members][][power]"><br>
  <label for="member01_bio">Hero Biography:</label>
  <Input id="member01_bio" type="text" name="team[members][][bio]"><br>
  
  <h2>Hero 2</h2>
  <label for="member02_nam">Hero Name:</label>
  <Input id="member02_name" type="text" name="team[members][][name]"><br>
  <label for="member02_power">Hero Power:</label>
  <Input id="member02_power" type="text" name="team[members][][power]"><br>
  <label for="member02_bio">Hero Biography:</label>
  <Input id="member02_bio" type="text" name="team[members][][bio]"><br>
  
  <h2>Hero 3</h2>
  <label for="member03_nam">Hero Name:</label>
  <Input id="member03_name" type="text" name="team[members][][name]"><br>
  <label for="member03_power">Hero Power:</label>
  <Input id="member03_power" type="text" name="team[members][][power]"><br>
  <label for="member03_bio">Hero Biography:</label>
  <Input id="member03_bio" type="text" name="team[members][][bio]"><br>
  
  <input type="submit" id="submit">
</form>